<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.genuitec.eclipse.jsf.designer.editors.JSFDesignerEditor"
            contributorClass="com.genuitec.eclipse.jsf.designer.editors.JSFDesignerEditorContributor"
            default="false"
            extensions="jsp,jsf,jspf,xhtml"
            icon="icons/jsf.gif"
            id="com.genuitec.eclipse.jsf.designer.editor"
            name="%editor.designer.name">
          <contentTypeBinding contentTypeId="com.genuitec.eclipse.webdesigner3.xhtmlsource"/>
       </editor>
      <editor
            class="com.genuitec.eclipse.jsf.designer.editors.JSFDesignerEditor"
            contributorClass="com.genuitec.eclipse.jsf.designer.editors.JSFDesignerEditorContributor"
            default="true"
            icon="icons/jsf.gif"
            id="com.genuitec.eclipse.jsf.designer.defaulteditor"
            name="%editor.designer.name">
          <contentTypeBinding contentTypeId="com.genuitec.eclipse.jsf.designer.jsfjsp"/>
       </editor>
      <editor
            class="com.genuitec.eclipse.jsf.designer.editors.JSFDesignerEditor"
            contributorClass="com.genuitec.eclipse.jsf.designer.editors.XHTMLDesignerEditorContributor"
            default="true"
            icon="icons/jsf.gif"
            id="com.genuitec.eclipse.jsf.designer.xhtmldefaulteditor"
            name="%editor.designer.name">
          <contentTypeBinding contentTypeId="com.genuitec.eclipse.jsf.designer.facelets"/>
       </editor>
   </extension>
   <extension
         point="org.eclipse.jst.jsf.common.standardMetaDataFiles">
      <standardMetaDataFile
            location="/metadata/test.xml"
            uri="TEST"/>
   </extension>
   <extension point="org.eclipse.wst.sse.ui.editorConfiguration"> 
	  <provisionalConfiguration 
            type="contentassistprocessor" 
            class="com.genuitec.eclipse.jsf.facelets.JSFELContentAssistProcessor" 
            target="org.eclipse.wst.html.HTML_DEFAULT,org.eclipse.wst.xml.XML_DEFAULT" /> 
	</extension>
    <extension
          point="org.eclipse.wst.sse.core.modelHandler">
       <modelHandler
             associatedContentTypeId="com.genuitec.eclipse.jsf.designer.facelets"
             class="com.genuitec.eclipse.xhtml.ModelHandlerForXHTML"
             default="yes"
             id="com.genuitec.eclipse.jsf.designer.xhtmlmodelhandler"/>
    </extension>
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="partial"
			class="com.genuitec.eclipse.jsf.facelets.FaceletsValidator"
			id="com.genuitec.eclipse.jsf.designer.faceletsvalidator">
			<contentTypeIdentifier
				id="org.eclipse.wst.html.core.htmlsource">
				<partitionType id="org.eclipse.wst.html.HTML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
			</contentTypeIdentifier>
		</validator>
	</extension>
	   <extension
        point="org.eclipse.wst.validation.validator"
		id="FaceletsELAttributeValueValidator"
		name="%validator.pages.name">
		<validator>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.xhtml">
			</filter>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.xhtm">
			</filter> 
			<markerId
               markerIdValue="FaceletsValidatorMarker">
         	</markerId>
			<helper 
				class="org.eclipse.wst.validation.internal.operations.WorkbenchContext">
			</helper>
			<run
         		class="com.genuitec.eclipse.jsf.facelets.FaceletsValidator"
         		incremental="true"
         		fullBuild="true"
         	/>
   <enablement>
      <reference
            definitionId="com.genuitec.myeclipse.isjsf"/>
   </enablement>
		</validator>
	</extension>
		<extension
         id="FaceletsValidatorMarker"
         name="%JSPSemanticsValidatorMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.wst.validation.problemmarker">
      </super>
   </extension>
   	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="com.genuitec.eclipse.webdesigner.JSPeditorActions2"
			targetID="pagedesigner.source">
			<action
				id="RenameElement"
				label="%RenameElement_label"
				definitionId="org.eclipse.jst.jsp.ui.refactor.rename"
				class="com.genuitec.eclipse.jsf.designer.actions.RenameAction"
				actionID="RenameElement">
			</action>
			<action
				id="MoveElement"
				label="%MoveElement_label"
				definitionId="org.eclipse.jst.jsp.ui.refactor.move"
				class="org.eclipse.jst.jsp.ui.internal.java.refactoring.JSPMoveElementActionDelegate"
				actionID="MoveElement">
			</action>
			<action
				id="ToggleComment"
				label="%ToggleComment_label"
				definitionId="org.eclipse.wst.sse.ui.toggle.comment"
				tooltip="%ToggleComment_tooltip"
				class="com.genuitec.eclipse.webdesigner3.action.ToggleCommentActionJSPDelegate"
				actionID="ToggleComment">
			</action>
			<action
				id="AddBlockComment"
				label="%AddBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.add.block.comment"
				tooltip="%AddBlockComment_tooltip"
				class="com.genuitec.eclipse.webdesigner3.action.AddBlockCommentActionJSPDelegate"
				actionID="AddBlockComment">
			</action>
			<action
				id="RemoveBlockComment"
				label="%RemoveBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.remove.block.comment"
				tooltip="%RemoveBlockComment_tooltip"
				class="com.genuitec.eclipse.webdesigner3.action.RemoveBlockCommentActionJSPDelegate"
				actionID="RemoveBlockComment">
			</action>
		</editorContribution>
		<editorContribution
			id="com.genuitec.eclipse.webdesigner.JSPeditorActions2"
			targetID="com.genuitec.eclipse.jsf.designer.jsfjsp.source">
			<action
				id="ToggleComment"
				label="%ToggleComment_label"
				definitionId="org.eclipse.wst.sse.ui.toggle.comment"
				tooltip="%ToggleComment_tooltip"
				class="com.genuitec.eclipse.webdesigner3.action.ToggleCommentActionJSPDelegate"
				actionID="ToggleComment">
			</action>
			<action
				id="RenameElement"
				label="%RenameElement_label"
				definitionId="org.eclipse.jst.jsp.ui.refactor.rename"
				class="com.genuitec.eclipse.jsf.designer.actions.RenameAction"
				actionID="RenameElement">
			</action>
			<action
				id="MoveElement"
				label="%MoveElement_label"
				definitionId="org.eclipse.jst.jsp.ui.refactor.move"
				class="org.eclipse.jst.jsp.ui.internal.java.refactoring.JSPMoveElementActionDelegate"
				actionID="MoveElement">
			</action>
			<action
				id="AddBlockComment"
				label="%AddBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.add.block.comment"
				tooltip="%AddBlockComment_tooltip"
				class="com.genuitec.eclipse.webdesigner3.action.AddBlockCommentActionJSPDelegate"
				actionID="AddBlockComment">
			</action>
			<action
				id="RemoveBlockComment"
				label="%RemoveBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.remove.block.comment"
				tooltip="%RemoveBlockComment_tooltip"
				class="com.genuitec.eclipse.webdesigner3.action.RemoveBlockCommentActionJSPDelegate"
				actionID="RemoveBlockComment">
			</action>
		</editorContribution>
		<editorContribution
			id="com.genuitec.eclipse.webdesigner.JSPeditorActions2"
			targetID="com.genuitec.eclipse.jsf.designer.facelets.source">
			<action
				id="ToggleComment"
				label="%ToggleComment_label"
				definitionId="org.eclipse.wst.sse.ui.toggle.comment"
				tooltip="%ToggleComment_tooltip"
				class="com.genuitec.eclipse.webdesigner3.action.ToggleCommentActionJSPDelegate"
				actionID="ToggleComment">
			</action>
			<action
				id="AddBlockComment"
				label="%AddBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.add.block.comment"
				tooltip="%AddBlockComment_tooltip"
				class="com.genuitec.eclipse.webdesigner3.action.AddBlockCommentActionJSPDelegate"
				actionID="AddBlockComment">
			</action>
			<action
				id="RemoveBlockComment"
				label="%RemoveBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.remove.block.comment"
				tooltip="%RemoveBlockComment_tooltip"
				class="com.genuitec.eclipse.webdesigner3.action.RemoveBlockCommentActionJSPDelegate"
				actionID="RemoveBlockComment">
			</action>
		</editorContribution>
   	</extension>
    <extension
          point="org.eclipse.core.contenttype.contentTypes">
       <content-type
             base-type="org.eclipse.jst.jsp.core.jspsource"
             default-charset="ISO-8859-1"
             describer="com.genuitec.eclipse.jsf.source.ContentDescriberForJSF"
             file-extensions="jsp, jspx"
             id="com.genuitec.eclipse.jsf.designer.jsfjsp"
             name="%content-type.jsfjsp.name"
             priority="high"/>
       <content-type
             base-type="com.genuitec.eclipse.webdesigner3.xhtmlsource"
             describer="com.genuitec.eclipse.jsf.source.ContentDescriberForFacelets"
             file-extensions="xhtm, xhtml, xht"
             id="com.genuitec.eclipse.jsf.designer.facelets"
             name="%content-type.facelets.name"
             priority="high"/>
    </extension>
	<extension
         point="org.eclipse.ui.preferencePages">  
	    <page
	           category="ValidationPreferencePage"
	           class="org.eclipse.jst.jsf.ui.internal.validation.JSFValidationPreferencePage"
	           id="com.genuitec.eclipse.jsf.designer.JSFValidationPage"
	           name="%page.JSFValidationPage.name"/>
	</extension>
 <extension
       point="org.eclipse.wst.html.ui.htmlContentProcessorExtender">
    <extender
          class="com.genuitec.eclipse.jsf.facelets.FaceletsContentAssistRestricter">
    </extender>
 </extension>
 <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             class="com.genuitec.eclipse.jsf.facelets.ELHyperlinkDetector"
             id="org.eclipse.jst.facelets.elhyperlinkdetector"
             name="EL Hyperlink detector"
             targetId="org.eclipse.wst.html.core.htmlsource">
       </hyperlinkDetector>
    </extension>
</plugin>
