<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="com.genuitec.eclipse.ws.WSClasspathVariableInitializer"
            variable="MYECLIPSE_JERSEY_HOME">
      </classpathVariableInitializer>
   </extension>   
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">             
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_CORE">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_JAXB">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_CLIENT">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_JSON">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_ATOM">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_FASTINFOSET">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_MAIL">
      </classpathContainerInitializer> 
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">     
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_1_4_JAXB">
      </classpathContainerInitializer>        
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_1_4_CORE">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_1_4_SERVER">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_1_4_CLIENT">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_1_4_JACKSON">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_1_4_JSON">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_1_4_ATOM">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_1_4_FASTINFOSET">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="com.genuitec.eclipse.core.librarymgmt.MEClasspathContainerInitializer"
            id="melibrary.com.genuitec.eclipse.ws.MYECLIPSE_JERSEY_1_4_MAIL">
      </classpathContainerInitializer> 
   </extension>
   <extension
         point="com.genuitec.eclipse.ws.xfire.framework">
      <framework
            class="com.genuitec.eclipse.ws.jaxrs.JAXRSFramework"
            id="com.genuitec.eclipse.ws.jaxrs">
      </framework>
   </extension>
     <extension
          point="org.eclipse.ui.popupMenus">   
       <objectContribution
                id="com.genuitec.eclipse.ws.method.contribution"
                adaptable="true"
                objectClass="org.eclipse.core.resources.IFile">
             <visibility>
             <and>
                   <objectState
                         name="contentTypeId"
                         value="org.eclipse.jdt.core.javaSource">
                   </objectState>               
                    <objectState
                         name="projectNature"
                         value="com.genuitec.eclipse.ws.restnature">
                   </objectState>
                   </and>           
             </visibility>      
             <action
                   class="com.genuitec.eclipse.ws.action.EnhanceWithRest"
                   icon="icons/new_webservice_wiz.gif"
                   id="com.genuitec.eclipse.ws.rest.enhance"
                   label="%action.rest.enhance.label"
                   menubarPath="de.bb.bejy.eclipse.PopupMenu/com.genuitec.eclipse.ws.separator"/>
          </objectContribution>
       <objectContribution
             adaptable="true"
             id="com.genuitec.eclipse.ws.test.contribution"
             objectClass="org.eclipse.core.resources.IProject">
          <visibility>
             <objectState
                   name="projectNature"
                   value="com.genuitec.eclipse.ws.restnature">
             </objectState>
          </visibility>
           <action
                    class="com.genuitec.eclipse.ws.action.TestRESTWSActionDelegate"
                    icon="icons/new_webservice_wiz.gif"
                    id="com.genuitec.eclipse.ws.rest.test"
                    label="%action.restTest.label"
                    menubarPath="de.bb.bejy.eclipse.PopupMenu/hibernate"/>              
       </objectContribution>
      </extension>
     <extension
           id="restnature"
           name="MyEclipse REST Nature"
           point="org.eclipse.core.resources.natures">
        <runtime>
           <run
                 class="com.genuitec.eclipse.ws.jaxrs.RESTNature">
           </run>
        </runtime>
     </extension>
     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.restsupport.label"
            visible="true"
            id="com.genuitec.myeclipse.actions.restsupport">         
            <!-- This menu is replicated exactly in each plugin that
              contributes to it to ensure that it is available when
              the plugins load.  Without this replication, Eclipse 3.3
              will often throw errors about "invalid menu path" and
              refuse to load the contributed actions. -->
         <menu
               label="%menu.myeclipse.menu.label"
               id="com.genuitec.myeclipse.menu">
           <separator
                  name="capabilitiesSeparator">
            </separator>
            <separator
                  name="configurationSeparator">
            </separator>
            <separator
                  name="utilitiesSeparator">
            </separator>
            <separator
                  name="supportSeparator">
            </separator>     
          </menu>       
          <menu
               id="capabilities"
               label="%menu.capabilities.label"
               path="com.genuitec.myeclipse.menu/capabilitiesSeparator">
            <separator name="additions"/>
         </menu>
         <action
               label="%action.restconvert.label"
               class="com.genuitec.eclipse.ws.action.AddRESTCapabilitiesActionDelegate"
               menubarPath="com.genuitec.myeclipse.menu/capabilities/capabilitiesSeparator"
               enablesFor="1"
               id="com.genuitec.myeclipse.ws.action.restconvert">
         </action>
      </actionSet>
   </extension>
    <extension
         id="de.bb.bejy.eclipse.PopupMenu"
         name="PopupMenu"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.runtime.IAdaptable"
            id="de.bb.bejy.eclipse.PopupMenuObject">
         <visibility>
            <and>
               <or>
               <objectState
                     name="nature"
                     value="com.genuitec.eclipse.j2eedt.core.webnature">
               </objectState> 
               <objectState
                     name="nature"
                     value="org.eclipse.wst.common.project.facet.core.nature">
               </objectState>
               </or>
               <not>
                  <objectState
                        name="nature"
                        value="com.genuitec.eclipse.ws.restnature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               label="%action.restconvert.label"
               class="com.genuitec.eclipse.ws.action.AddRESTCapabilitiesActionDelegate"
               menubarPath="de.bb.bejy.eclipse.PopupMenu/onoff"
               enablesFor="1"
               id="de.bb.bejy.eclipse.action.addrest">
         </action>
      </objectContribution>     
    </extension>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%page.jersylibraries.name"
            category="com.genuitec.eclipse.ws.capabilities.preferencepage"
            class="com.genuitec.eclipse.ws.jaxrs.wizard.JerseyLibraryPreferencePage"
            id="com.genuitec.eclipse.ws.jersylibraries">
      </page>      
   </extension>
   <!-- Nature images -->
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/webservice_ovr.gif"
            natureId="com.genuitec.eclipse.ws.restnature"
            id="com.genuitec.eclipse.ws.restnature.image">
      </image>
   </extension>   
   <!-- REST Test Browser -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.genuitec.eclipse.ws.editor.RESTExplorerBrowserEditor"
            default="false"
            extensions="wadl"
            icon="icons/editor.gif"
            id="com.genuitec.eclipse.ws.RESTExplorerEditor"
            name="%editor.RestExploreEditor.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/logo.gif"
               id="de.bb.bejy.eclipse.PopupMenu"
               label="%menu.PopMenu.label">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.bb.bejy.eclipse.PopupMenu">
         <separator
               name="com.genuitec.eclipse.ws.separator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.bb.bejy.eclipse.PopupMenu?after=com.genuitec.eclipse.ws.separator">
         <command
               commandId="com.genuitec.eclipse.ws.editclass.command"
               disabledIcon="icons/new_webservice_wiz.gif"
               hoverIcon="icons/new_webservice_wiz.gif"
               icon="icons/new_webservice_wiz.gif"
               id="com.genuitec.eclipse.ws.editclass.commandItem"
               label="%command.editclassCommandItem.label">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.bb.bejy.eclipse.PopupMenu?after=com.genuitec.eclipse.ws.separator">
         <command
               commandId="com.genuitec.eclipse.ws.editmethod.command"
               disabledIcon="icons/new_webservice_wiz.gif"
               hoverIcon="icons/new_webservice_wiz.gif"
               icon="icons/new_webservice_wiz.gif"
               id="com.genuitec.eclipse.ws.editmethod.commandItem"
               label="%command.editmethodCommandItem.label">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>     
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.genuitec.eclipse.ws.editmethod.command"
            name="%command.editmethodCommandItem.label">
      </command>
      <command
            id="com.genuitec.eclipse.ws.editclass.command"
            name="%command.editclassCommandItem.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.genuitec.eclipse.ws.action.EditRestMethodHandler"
            commandId="com.genuitec.eclipse.ws.editmethod.command">
         <enabledWhen>
            <with
                  variable="org.eclipse.core.runtime.Platform">
               <test
                     args="com.genuitec.eclipse.ws"
                     forcePluginActivation="true"
                     property="org.eclipse.core.runtime.bundleState"
                     value="ACTIVE">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.genuitec.eclipse.ws.action.EditRestClassHandler"
            commandId="com.genuitec.eclipse.ws.editclass.command">
         <enabledWhen>
            <with
                  variable="org.eclipse.core.runtime.Platform">
               <test
                     args="com.genuitec.eclipse.ws"
                     forcePluginActivation="true"
                     property="org.eclipse.core.runtime.bundleState"
                     value="ACTIVE">
               </test>
            </with>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
