<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?> <!-- i18n: added to work around 2.1 bug -->
<plugin>

     <extension
         point="org.eclipse.ui.startup">
   </extension>
   <extension
         id="com.genuitec.eclipse.easie.jetty7.preferencepageextension"
         name="%prefPageExtension"
         point="org.eclipse.ui.preferencePages">
      <page
            name="%menu.label"
            category="com.genuitec.eclipse.easie.jetty.preferencepage"
            class="com.genuitec.eclipse.easie.jetty7.preference.Jetty7LauncherPreferencePage"
            id="com.genuitec.eclipse.easie.jetty7.preferencepage">
            <keywordReference id="com.genuitec.eclipse.easie.core.jetty.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.server.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.applicationserver.keyword"/>
      </page>
      <page
            name="%menu.jdk.label"
            category="com.genuitec.eclipse.easie.jetty7.preferencepage"
            class="com.genuitec.eclipse.easie.jetty7.preference.Jetty7LauncherJVMPreferencePage"
            id="com.genuitec.eclipse.easie.jetty7.jdkpage">
            <keywordReference id="com.genuitec.eclipse.easie.core.jetty.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.server.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.applicationserver.keyword"/>
      </page>
      <page
            name="%menu.path.label"
            category="com.genuitec.eclipse.easie.jetty7.preferencepage"
            class="com.genuitec.eclipse.easie.jetty7.preference.Jetty7LauncherClasspathPreferencePage"
            id="com.genuitec.eclipse.easie.jetty7.classpathpage">
            <keywordReference id="com.genuitec.eclipse.easie.core.jetty.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.server.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.applicationserver.keyword"/>
      </page>
      <page
            name="%menu.launch.label"
            category="com.genuitec.eclipse.easie.jetty7.preferencepage"
            class="com.genuitec.eclipse.easie.jetty7.preference.Jetty7LauncherModesPreferencePage"
            id="com.genuitec.eclipse.easie.jetty7.launchpage">
            <keywordReference id="com.genuitec.eclipse.easie.core.jetty.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.server.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.applicationserver.keyword"/>
      </page>
   </extension>

</plugin>
