<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 <extension
         point="org.eclipse.ui.views">
      <view
            icon="icons/error_log.gif"
            class="com.genuitec.eclipse.sqlexplorer.oracle.views.SourceErrorsView"
            category="com.genuitec.eclipse.views.myEclipseDBCategory"
            name="%viewOracleSourceErrors.name"
            id="com.genuitec.eclipse.sqlexplorer.oracle.views.SourceErrorsView"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="com.genuitec.eclipse.sqlexplorer.editors.SQLEditor.EditorContextMenu"
            id="com.genuitec.eclipse.sqlexplorer.oracle.sqlEditorContribution">
         <action
               label="%actionViewExplainPlan.label"
               icon="icons/explain.gif"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.OpenExplainPlanAction"
               tooltip="%actionViewExplainPlan.tooltip"
               menubarPath="additions"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.OpenExplainPlanAction"/>
         <visibility>
            <objectState
                  value="oracle.*"
                  name="dbmsName"/>
         </visibility>
      </viewerContribution>
      <objectContribution
            objectClass="com.genuitec.eclipse.sqlexplorer.model.ExtractableNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle9.extractableNodeContribution">
         <menu
               id="com.genuitec.eclipse.sqlexplorer.oracle.generate"
               label="%menuGenerate.label"
               path="generate"/>
         <action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractXMLAction"
               enablesFor="1"
               icon="icons/xml_file.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractXMLAction"
               label="%actionXML.label"
               menubarPath="com.genuitec.eclipse.sqlexplorer.oracle.generate/additions"
               tooltip="%actionXML.tooltip"/>
         <action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractDDLAction"
               enablesFor="1"
               icon="icons/generate_ddl.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractDDLAction"
               label="%actionDDL.label"
               menubarPath="com.genuitec.eclipse.sqlexplorer.oracle.generate/additions"
               tooltip="%actionDDL.tooltip"/>
         <visibility>
            <objectState
                  value="true"
                  name="isOracle9OrAbove"/>
         </visibility>
      </objectContribution>
      <objectContribution
            objectClass="com.genuitec.eclipse.sqlexplorer.model.TableObjectTypeNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.viewTypeNodeContribution">
         <action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreateViewAction"
               enablesFor="1"
               icon="icons/view.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreateViewAction"
               label="%actionNewView.label"
               menubarPath="top"
               tooltip="%actionNewView.tooltip"/>
         <visibility>
            <and>
               <objectState
                     value="true"
                     name="isViewType"/>
               <objectState
                     value="oracle.*"
                     name="dbmsName"/>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            objectClass="com.genuitec.eclipse.sqlexplorer.model.TableNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.viewNodeContribution">
         <action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.EditViewAction"
               enablesFor="1"
               icon="icons/view.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.EditViewAction"
               label="%actionOpenView.label"
               menubarPath="top"
               tooltip="%actionOpenView.tooltip"/>
		<action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractXMLAction"
               enablesFor="1"
               icon="icons/xml_file.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractXMLAction"
               label="%actionXML2.label"
               menubarPath="subgenerate/oracle"
               tooltip="%actionXML2.tooltip"/>               
		<action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractDDLActionStd"
               enablesFor="1"
               icon="icons/generate_ddl.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.view.ExtractDDLAction"
               label="%actionDDL.label"
               menubarPath="subgenerate/oracle"
               tooltip="%actionDDL.tooltip"/>
         <visibility>
            <and>
               <objectState
                     value="true"
                     name="isView"/>
               <objectState
                     value="oracle.*"
                     name="dbmsName"/>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            objectClass="com.genuitec.eclipse.sqlexplorer.model.TableNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle9.tableTypeNodeContribution">
         <action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractXMLAction"
               enablesFor="1"
               icon="icons/xml_file.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractXMLAction"
               label="%actionXML2.label"
               menubarPath="subgenerate/oracle"
               tooltip="%actionXML2.tooltip"/>
         <action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractDDLAction"
               enablesFor="1"
               icon="icons/generate_ddl.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractDDLAction"
               label="%actionDDLAdvanced.label"
               menubarPath="subgenerate/oracle"
               tooltip="%actionDDLAdvanced.tooltip"/>
         <visibility>
            <and>
              <objectState
                    value="true"
                    name="isTable"/>               
               <objectState
                     value="true"
                     name="isOracle9OrAbove"/>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            objectClass="com.genuitec.eclipse.sqlexplorer.model.TableNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle9.synonymNodeContribution">
         <action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractXMLAction"
               enablesFor="1"
               icon="icons/xml_file.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractXMLAction"
               label="%actionXML2.label"
               menubarPath="subgenerate/oracle"
               tooltip="%actionXML2.tooltip"/>
         <action
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractDDLAction"
               enablesFor="1"
               icon="icons/generate_ddl.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.ExtractDDLAction"
               label="%actionDDL.label"
               menubarPath="subgenerate/oracle"
               tooltip="%actionDDL.tooltip"/>
         <visibility>
            <and>
               <objectState
                  	value="true"
					name="isSynonym"/>
               <objectState
					value="true"
                    name="isOracle9OrAbove"/>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.ProcedureTypeNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.procedureTypeNodeContribution">
         <action
               enablesFor="1"
               label="%actionNewStoredProcedure.label"
               tooltip="%actionNewStoredProcedure.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreateProcedureAction"
               menubarPath="top"
               icon="icons/stored_procedure.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreateProcedureAction"/>
         <action
               enablesFor="1"
               label="%actionRefresh.label"
               tooltip="%actionRefresh.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"
               menubarPath="refresh"
               icon="icons/refresh.gif"
               id="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageTypeNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.packageTypeNodeContribution">
         <action
               enablesFor="1"
               label="%actionNewPackage.label"
               tooltip="%actionNewPackage.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreatePackageAction"
               menubarPath="top"
               icon="icons/package.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreatePackageAction"/>
         <action
               enablesFor="1"
               label="%actionRefresh2.label"
               tooltip="%actionRefresh2.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"
               menubarPath="refresh"
               icon="icons/refresh.gif"
               id="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageBodyTypeNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.packageBodyTypeNodeContribution">
         <action
               enablesFor="1"
               label="%actionNewPackageBody.label"
               tooltip="%actionNewPackageBody.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreatePackageBodyAction"
               menubarPath="top"
               icon="icons/packagefolder_obj.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreatePackageBodyAction"/>
         <action
               enablesFor="1"
               label="%actionRefresh3.label"
               tooltip="%actionRefresh3.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"
               menubarPath="refresh"
               icon="icons/refresh.gif"
               id="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.FunctionTypeNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.functionTypeNodeContribution">
         <action
               enablesFor="1"
               label="%actionNewFunction.label"
               tooltip="%actionNewFunction.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreateFunctionAction"
               menubarPath="top"
               icon="icons/udf.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreateFunctionAction"/>
         <action
               enablesFor="1"
               label="%actionRefresh4.label"
               tooltip="%actionRefresh4.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"
               menubarPath="refresh"
               icon="icons/refresh.gif"
               id="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.TriggerTypeNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.triggerTypeNodeContribution">
         <action
               enablesFor="1"
               label="%actionNewTrigger.label"
               tooltip="%actionNewTrigger.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreateTriggerAction"
               menubarPath="top"
               icon="icons/trigger.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.actions.CreateTriggerAction"/>
          <action
               enablesFor="1"
               label="%actionRefresh5.label"
               tooltip="%actionRefresh5.tooltip"
               class="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"
               menubarPath="refresh"
               icon="icons/refresh.gif"
               id="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.FunctionNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.functionNodeActions">
         <action
               enablesFor="1"
               label="%actionOpenFunction.label"
               icon="icons/udf.gif"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.EditFunctionAction"
               tooltip="%actionOpenFunction.tooltip"
               menubarPath="top"
               id="com.genuitec.eclipse.sqlexplorer.oracle.editFunctionAction"/>
         <action
               enablesFor="1"
               label="%actionRunFunction.label"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.RunFunctionAction"
               tooltip="%actionRunFunction.tooltip"
               icon="icons/run.gif"
               menubarPath="refresh"
               id="com.genuitec.eclipse.sqlexplorer.oracle.runFunctionAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.TriggerNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.triggerNodeActions">
         <action
               enablesFor="1"
               label="%actionOpenTrigger.label"
               icon="icons/trigger.gif"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.EditTriggerAction"
               tooltip="%actionOpenTrigger.tooltip"
               menubarPath="top"
               id="com.genuitec.eclipse.sqlexplorer.oracle.editTriggerAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.ProcedureNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.procedureNodeActions">
         <action
               enablesFor="1"
               label="%actionOpenProcedure.label"
               icon="icons/stored_procedure.gif"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.EditProcedureAction"
               tooltip="%actionOpenProcedure.tooltip"
               menubarPath="top"
               id="com.genuitec.eclipse.sqlexplorer.oracle.editProcedureAction"/>
         <action
               enablesFor="1"
               label="%actionRunStoredProcedure.label"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.RunProcedureAction"
               tooltip="%actionRunStoredProcedure.tooltip"
               menubarPath="refresh"
               icon="icons/run.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.runProcedureAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.packageNodeActions">
         <action
               enablesFor="1"
               label="%actionOpenPackage.label"
               icon="icons/package.gif"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.EditPackageAction"
               tooltip="%actionOpenPackage.tooltip"
               menubarPath="top"
               id="com.genuitec.eclipse.sqlexplorer.oracle.editPackageAction"/>
         <action
               enablesFor="1"
               label="%actionRunPackage.label"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.RunPackageAction"
               tooltip="%actionRunPackage.tooltip"
               menubarPath="refresh"
               icon="icons/run.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.runPackageAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageBodyNode"
            id="com.genuitec.eclipse.sqlexplorer.oracle.packageBodyNodeActions">
         <action
               enablesFor="1"
               label="%actionOpenPackageBody.label"
               icon="icons/packagefolder_obj.gif"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.EditPackageBodyAction"
               tooltip="%actionOpenPackageBody.tooltip"
               menubarPath="top"
               id="com.genuitec.eclipse.sqlexplorer.oracle.editPackageBodyAction"/>
         <action
               enablesFor="1"
               label="%actionRunPackageBody.label"
               class="com.genuitec.eclipse.sqlexplorer.oracle.actions.RunPackageAction"
               tooltip="%actionRunPackageBody.tooltip"
               menubarPath="refresh"
               icon="icons/run.gif"
               id="com.genuitec.eclipse.sqlexplorer.oracle.runPackageBodyAction"/>
      </objectContribution>
      <objectContribution
      		adaptable = "false"
      		objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.SequenceTypeNode"
      		id="com.genuitec.eclipse.sqlexplorer.oracle.model.SequenceTypeNodeActions">
      		<action 
      			enablesFor="1"
      			label="%actionRefresh5.label"
      			tooltip="%actionRefresh5.tooltip"
      			class="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"
      			menubarPath="refresh"
      			icon="icons/refresh.gif"
      			id="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"/>
	  </objectContribution>  
	  <objectContribution
      		adaptable = "false"
      		objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.JavaTypeNode"
      		id="com.genuitec.eclipse.sqlexplorer.oracle.model.JavaTypeNodeActions">
      		<action 
      			enablesFor="1"
      			label="%actionRefresh5.label"
      			tooltip="%actionRefresh5.tooltip"
      			class="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"
      			menubarPath="refresh"
      			icon="icons/refresh.gif"
      			id="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"/>
	  </objectContribution> 
	  <objectContribution
      		adaptable = "false"
      		objectClass="com.genuitec.eclipse.sqlexplorer.oracle.model.DatabaseLinkTypeNode"
      		id="com.genuitec.eclipse.sqlexplorer.oracle.model.DatabaseLinkTypeNodeActions">
      		<action 
      			enablesFor="1"
      			label="%actionRefresh5.label"
      			tooltip="%actionRefresh5.tooltip"
      			class="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"
      			menubarPath="refresh"
      			icon="icons/refresh.gif"
      			id="com.genuitec.eclipse.sqlexplorer.actions.RefreshTypeNodeAction"/>
	  </objectContribution> 
   </extension>
 
   <extension
         point="com.genuitec.eclipse.sqlexplorer.browserNodeContribution">
      <node
            label="%Monitor"
            tooltip="%Monitor.tooltip"
            parentType="root"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.MonitorNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.nodes.MonitorNode"/>
      <node
            label="%Security"
            tooltip="%Security.tooltip"
            parentType="root"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.SecurityNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.nodes.SecurityNode"/>
      <node
            label="%Instance"
            tooltip="%instance.tooltip"
            parentType="root"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.InstanceNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.nodes.InstanceNode"/>
      <node
            label="%SEQUENCE"
            tooltip="%Sequence.tooltip"
            parentType="schema"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.SequenceTypeNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.SequenceTypeNode"/>
      <node
            label="%PACKAGE"
            tooltip="%Package.tooltip"
            parentType="schema"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageTypeNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageTypeNode"/>
      <node
            label="%PACKAGEBODY"
            tooltip="%PackageBodies"
            parentType="schema"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageBodyTypeNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageBodyTypeNode"/>
      <node
            label="%FUNCTION"
            tooltip="%FUNCTION.tooltip"
            parentType="schema"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.FunctionTypeNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.FunctionTypeNode"/>
      <node
            label="%PROCEDURE"
            tooltip="%PROCEDURE.tooltip"
            parentType="schema"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.ProcedureTypeNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.ProcedureTypeNode"/>
      <node
            label="%TRIGGER"
            tooltip="%TRIGGER.tooltip"
            parentType="schema"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.TriggerTypeNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.TriggerTypeNode"/>
      <node
            label="%SESSIONS"
            tooltip="%SESSION.tooltip"
            parentType="schema"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.SchemaSessionsNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.SchemaSessionsNode"/>
      <node
            label="%JAVASOURCE"
            tooltip="%JAVASOURCE.tooltip"
            parentType="schema"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.JavaTypeNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.JavaTypeNode"/>
      <node
            label="%DATABASELINK"
            tooltip="%DATABASELINK.tooltip"
            parentType="schema"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.DatabaseLinkTypeNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.DatabaseLinkTypeNode"/>
      <!--
      <node
            label="Database Link"
            icon="icons/test.gif"
            parentType="contributed"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.DatabaseLinkNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.DatabaseLinkNode"/>
	  -->
      <node
            label="Function"
            icon="icons/udf.gif"
            parentType="contributed"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.FunctionNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.FunctionNode"/>
      <node
            label="Package"
            icon="icons/package.gif"
            parentType="contributed"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageNode"/>
      <node
            label="Procedure"
            icon="icons/stored_procedure.gif"
            parentType="contributed"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.ProcedureNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.ProcedureNode"/>
      <node
            label="Sequence"
            icon="icons/sequence.gif"
            parentType="contributed"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.SequenceNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.SequenceNode"/>
      <node
            label="Package Body"
            icon="icons/packagefolder_obj.gif"
            parentType="contributed"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageBodyNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.PackageBodyNode"/>
      <node
            label="Trigger"
            icon="icons/trigger.gif"
            parentType="contributed"
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.TriggerNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.TriggerNode"/>  
      <node
            label="Java Source"
            icon="icons/java_model_obj.gif"
            parentType="contributed" 
            class="com.genuitec.eclipse.sqlexplorer.oracle.model.JavaSourceNode"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.model.JavaSourceNode"/>
   </extension>
   <extension
         point="com.genuitec.eclipse.sqlexplorer.tableViewContribution">
      <panel
            label="%DependentObjects"
            class="com.genuitec.eclipse.sqlexplorer.oracle.panels.DependentObjectsPanel"
            description="%DependentObjects.description"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.panels.DependentObjectsPanel"
            tableType="table,view,synonym"/>
      <panel
            label="%Status"
            class="com.genuitec.eclipse.sqlexplorer.oracle.panels.StatusPanel"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.panels.StatusPanel"
            tableType="table,view"/>
      <panel
            label="%Privileges"
            class="com.genuitec.eclipse.sqlexplorer.oracle.panels.PrivilegesPanel"
            dbmsName="oracle.*"
            id="com.genuitec.eclipse.sqlexplorer.oracle.panels.PrivilegesPanel"
            tableType="table,view"/>
   </extension>
   
	<extension point="org.eclipse.ui.activities">
	
   <!-- Locate Oracle support at Pro / Oracle in the capabilities list -->
	  <activity id="com.genuitec.eclipse.capability.pro.oracle"
	   description="%activity.pro.oracle.description"
	   name="%activity.pro.oracle.name" />

	  <!-- Put the Oracle activity in the category -->
	  <categoryActivityBinding activityId="com.genuitec.eclipse.capability.pro.oracle"
	   categoryId="com.genuitec.eclipse.capability.pro" />
	   
	  <!-- Bind all contributions from the Oracle plugin to the capability  -->
	  <activityPatternBinding activityId="com.genuitec.eclipse.capability.pro.oracle"
	   pattern="com\.genuitec\.eclipse\.sqlexplorer\.oracle/.*" />
	  
	  <!-- PR#4945 Generate DDL for View is std feature -->
	  <activityPatternBinding activityId="com.genuitec.eclipse.capability.standard.database"
	  	pattern = "com\.genuitec\.eclipse\.sqlexplorer\.oracle/com\.genuitec\.eclipse\.sqlexplorer\.oracle\.actions\.view\.ExtractDDLAction"/>
	   
	  <!-- If this one is desired, then standard database tools must be on -->
	  <activityRequirementBinding activityId="com.genuitec.eclipse.capability.pro.oracle"
	   requiredActivityId="com.genuitec.eclipse.capability.standard.database"/>
	   
	   
	  <!-- Oracle activity should be enabled by default -->
	  <defaultEnablement id="com.genuitec.eclipse.capability.pro.oracle" />	  
	</extension>
      

</plugin>
