<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?> <!-- i18n: added to work around 2.1 bug -->
<plugin>

     <extension
         point="org.eclipse.ui.startup">
   </extension>
   
   <extension
         id="com.genuitec.eclipse.easie.tomcat7.preferencepageextension"
         name="%prefPageExtension"
         point="org.eclipse.ui.preferencePages">
      <page
            name="%menu.label"
            category="com.genuitec.eclipse.easie.tomcat.preferencepage"
            class="com.genuitec.eclipse.easie.tomcat7.preference.Tomcat7LauncherPreferencePage"
            id="com.genuitec.eclipse.easie.tomcat7.preferencepage">
            <keywordReference id="com.genuitec.eclipse.easie.core.tomcat.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.server.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.applicationserver.keyword"/>
      </page>
      <page
            name="%menu.jdk.label"
            category="com.genuitec.eclipse.easie.tomcat7.preferencepage"
            class="com.genuitec.eclipse.easie.tomcat7.preference.Tomcat7LauncherJVMPreferencePage"
            id="com.genuitec.eclipse.easie.tomcat7.jdkpage">
            <keywordReference id="com.genuitec.eclipse.easie.core.tomcat.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.server.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.applicationserver.keyword"/>
      </page>
      <page
            name="%menu.path.label"
            category="com.genuitec.eclipse.easie.tomcat7.preferencepage"
            class="com.genuitec.eclipse.easie.tomcat7.preference.Tomcat7LauncherClasspathPreferencePage"
            id="com.genuitec.eclipse.easie.tomcat7.classpathpage">
            <keywordReference id="com.genuitec.eclipse.easie.core.tomcat.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.server.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.applicationserver.keyword"/>
      </page>
      <page
            name="%menu.launch.label"
            category="com.genuitec.eclipse.easie.tomcat7.preferencepage"
            class="com.genuitec.eclipse.easie.tomcat7.preference.Tomcat7LauncherModesPreferencePage"
            id="com.genuitec.eclipse.easie.tomcat7.launchpage">
            <keywordReference id="com.genuitec.eclipse.easie.core.tomcat.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.server.keyword"/>
            <keywordReference id="com.genuitec.eclipse.easie.core.applicationserver.keyword"/>
      </page>
   </extension>

</plugin>
